---
import Layout from '../layouts/Layout.astro';
import SearchForm from '../components/SearchForm.astro';
---

<Layout title="Welcome to Just Content.">
	<main>
		<h1 class="text-gradient">Just Content!</h1>
		<p class="instructions">
			To get started, enter the url of the content you want to see below.
		</p>
		<SearchForm></SearchForm>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	} 
</style>
