---
import Layout from '../layouts/Layout.astro';
import SearchForm from '../components/SearchForm.astro';
import Recipe from '../components/Recipe.astro';

const recipeUrl = Astro.url.searchParams.get('url')! || '';
const apiUrl = new URL(`/api/recipe.json?url=${recipeUrl}`, Astro.url.origin);
const response = await fetch(apiUrl);
const data = await response.json();
const recipe = data.recipes[0];
---


<Layout title="View a page">
	<main>
		<SearchForm url={recipeUrl}></SearchForm>
		<Recipe recipe={recipe} url={recipeUrl}></Recipe>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80vw;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
