---
import Layout from '../layouts/Layout.astro';
import SearchForm from '../components/SearchForm.astro';
import Recipe from '../components/Recipe.astro';

import * as format from '../app/format';

const recipeUrl = Astro.url.searchParams.get('url') ?? Astro.url.searchParams.get('text') ?? '';
const apiUrl = new URL(`/api/recipe.json?url=${recipeUrl}`, Astro.url.origin);
const response = await fetch(apiUrl);
const data = await response.json();
const recipe = data.recipes.length ? format.recipe(data.recipes[0]) : null;
---


<Layout title="Just Content! | View Recipe">
	{recipe ? <Recipe recipe={recipe} url={recipeUrl}></Recipe> : <div class="alert alert-secondary" role="alert">Recipe not found</div>}
</Layout>
